body {
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    font-family: sans-serif;
    color: #d0d0d0;
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

header .logo {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: 50px;
    margin-top: 10px;
}

header .logo img {
    height: 50px;
}

header .logo p {
    display: none;
}

header .logo link {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    align-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-right: 500px;
    margin-left: -400px;
}

nav li {
    display: flex;
    text-decoration: none;
    align-content: center;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-style: bold;
    font-family: sans-serif;
}

nav li a:hover {
    cursor: pointer;
    color: red;
}
.mainbody {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    vetical-align: top;
}
.text{
    width: 100%;
    text-align: center;
    margin-left: 10px;
}
.img{
    width: 100%;
    display: flex;
    margin-left: 40px;
    border-radius: 35px;
}
.img p{
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.Mane{
    width: 100%;
    height: -270px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.Mane img{
    border-radius: 35px;
}
.Mane p{
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
footer{
    width: 100%;
    margin-top: 60px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.2);
    color: white;
    background-image: url(Images/BACKGROUND\ TMZ.jpg);
    background-size: auto;
    background-position: center;
    height: 200px;

}



footer p:nth-child(1){
    width: 240px;
    font-size: 0.9rem;
    line-height: 1.8;
    color: #e5e5e5;
    margin-top: -35px;
}



footer p:nth-child(1) a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 8px;
    font-size: 1rem;
}

footer p:nth-child(2){
    position: absolute;
    left: 25px;
    bottom: -5px;
    color: #d0d0d0;
    margin-top: 20px;
    margin-bottom: 70px;
}



footer p:nth-child(3){
    position: absolute;
    left: 48%;
   
    top: 40px;
    font-size: 1rem;
    color: white;
    margin-top: -40px;
    margin-left: -110px;
}



.icon1{
    position: absolute;
    left: 47%;
    top: 85px;
    display: flex;
    align-items: center;
    margin-top: -59px;
    margin-left: -160px;
}

.icon1 img{
    width: 34px;
    height: 34px;
    object-fit: contain;
    
}
.icon1 p{
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.9rem;
    color: white;
    margin-left: 50px;
    margin-top: -150px;
    
}



.icon2{
    position: absolute;
    left: 47%;
    top: 130px;
      margin-top: -50px;
    margin-left: -160px;
}

.icon2 img{
    width: 34px;
    height: 34px;
    object-fit: contain;
}



.icon3{
    position: absolute;
    left: 47%;
    top: 175px;
    margin-left: -160px;
    margin-top: -45px;
}

.icon3 img{
    width: 34px;
    height: 34px;
    object-fit: contain;
}



footer p:last-child{
    position: absolute;
    right: 20px;
    top: 55px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    width: 350px;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 500px;
    margin-right: 90px;
    margin-top: -50px;
}



footer::before{
    content: "";
    position: absolute;
    left: 33%;
    top: 30px;
    width: 1px;
    height: 140px;
    background: rgba(255,255,255,0.4);
}

footer::after{
    content: "";
    position: absolute;
    right: 38%;
    top: 30px;
    width: 1px;
    height: 140px;
    background: rgba(255,255,255,0.4);
}



@media(max-width: 900px){

    footer{
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    footer p:nth-child(3),
    .icon1,
    .icon2,
    .icon3,
    footer p:last-child{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        transform: none;
        margin-top: 20px;
    }

    footer::before,
    footer::after{
        display: none;
    }

    footer p:last-child{
        width: 100%;
        font-size: 1.4rem;
    }
}

